footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.keyboard-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.keyboard-block {
  width: 40px;
  height: 60px;
  font-size: 23px;
  cursor: pointer;
}

.enter,
.back,
.keyboard-block {
  background-color: #ccd0d4;
  border-radius: 3px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.enter,
.back {
  width: 70px;
  height: 60px;
}

.back img {
  width: 30px;
}

@keyframes gameResult {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1.5) rotate(360deg);
  }
}
